{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            {{error}}
            <h1 class="text-secondary">{{task.tittle}}</h1>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                
                <div class="d-flex justify-content-between mt-2"> 
                    <button class="btn btn-primary">
                        Update
                    </button>
                </form>
    
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary">
                        Complete
                    </button>
                </form>
    
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </div>

            </form>
        </div>
    </div>
</main>

{% endblock %}